@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes
@inject SignOutSessionStateManager SignOutManager
<AuthorizeView>
    <Authorized>
        <div style="color:white;">
            <MudLink Href="authentication/profile" Class="mud-theme-primary" Underline="Underline.None">@context.User.Identity.Name!</MudLink>
        </div>
        <div style="margin-left:8px; color:white;">
            <MudIconButton @onclick="CerrarSesion" Icon="@Icons.Filled.ExitToApp"  Color="Color.Error" aria-label="Cerrar Sesion"/>
        </div>
    </Authorized>
    <NotAuthorized>
        <MudLink Href="authentication/Registro" Underline="Underline.None" Class="mud-theme-primary">Registro</MudLink>
        <MudLink Href="authentication/Login" Underline="Underline.None" Style="margin-left:8px;" Class="mud-theme-primary">Iniciar Sesion</MudLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async void CerrarSesion()
    {
        await mostrarMensajes.MostrarMensajeExitoso("Sesion Finalizada");
        await SignOutManager.SetSignOutState();
        navigationManager.NavigateTo("authentication/logout");
    }
}